*{margin: 0;padding: 0}

html{
    height: 100%;
}

img{
    transform: scale(0.5);
    -ms-transform:scale(0.5);
    -webkit-transform:scale(0.5);
    -o-transform:scale(0.5);
    -moz-transform:scale(0.5);
}

body{
    background-color: #68cdd5;
    color: white;
    font-size: 62.5%;
}

p{
    font-size: 14px;
    line-height:22px;
}
.exit{
    background-color: #68cdd5;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #68cdd5;
    padding: 3em 45%;
    width: 5%;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #68cdd5;
    padding: 1em 15%;
}

.logo{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 6em 10% 0.01em 10%;
    background-color: #68cdd5;
}

.letter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.01em 10% 0.01em 10%;
    background-color: #68cdd5;
}
